/* cover */
.cover {
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 102px;
    overflow: hidden;
}

.cover__photo {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.12);
}

.cover__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover__title h1 {
    padding: 16px 24px;
    background: linear-gradient(92.26deg, #faaa4c -16.72%, #ff971d 105.85%);
    border-radius: 8px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    color: #fff;
}

.cover__subtitle {
    display: inline-flex;
    text-align: center;

    margin-top: -10px;
}
.cover__subtitle p {
    padding: 8px 16px;
    border-radius: 8px;

    background: var(--color-green);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}
.cover__button {
    margin-top: 48px;
}

@media screen and (max-width: 768px) {
    .cover__content {
        justify-content: flex-end;
        align-items: center;
    }
    .cover {
        padding-bottom: 38px;
    }
    .cover__title h1 {
        max-width: 75%;
        margin: 0 auto;
    }
}

/* section__ods */
.section__about {
    background: var(--color-background-light);
    padding-top: 80px;
    padding-bottom: 124px;
}

.about__left {
    grid-column-start: 1;
    grid-column-end: 7;
    align-items: center;
    display: flex;
}
.about__right {
    grid-column-start: 7;
    grid-column-end: 13;
    align-items: center;
    display: flex;
}
.about__subtitle {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-green);
}
.about__content h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: var(--color-orage);
}
.about__content h2 span {
    font-weight: 300;
}
.about__content p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-text-color);
    max-width: 80%;
}
.about__links {
    margin-top: 28px;
    display: flex;
    gap: 16px;
}

.about__photo {
    width: 100%;
    height: 225px;
    border-radius: 8px;
    position: relative;
}

.about__tooltip {
    position: absolute;
    background: var(--color-green);
    color: #fff;
    padding: 4px 8px;
    z-index: 99;
    top: 0;
    border-radius: 8px;
    margin: 8px;
}
.about__slide__pagination {
    position: absolute;
    z-index: 99;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translateY(50px);
    padding-top: 30px;
    margin-top: -50px;
}

.about__slide__photo {
    height: 225px;
}
.about__slide__pagination .swiper-pagination-bullet {
    background: transparent;
    border: 1px solid var(--color-background);
    opacity: 1;
    width: 15px;
    border-radius: 15px;
    margin: 0 4px;
    transition: 0.3s ease-in-out;
}

.about__slide__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--color-background);
    width: 30px;
}
.about__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .about__content p {
        max-width: 100%;
    }
    .about__left {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .about__right {
        margin-top: 48px;
        grid-column-start: 1;
        grid-column-end: 5;
    }
}

/* section__ods */
.section__ods {
    margin-top: -64px;
    padding-bottom: 72px;
}

.ods__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-green);
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.ods__title img {
    margin-left: 8px;
}
.ods__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    padding: 16px 0;
}
.ods__card {
    grid-column: span 6;
    border-radius: 8px;
    position: relative;

    padding: 48px 24px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.ods__card__title {
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
    animation: intoUp linear 0.2s forwards;
    gap: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(46, 46, 46, 0.164);
    margin-bottom: 16px;
}
.ods__card__title h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    max-width: 250px;
}
.ods__card__back {
    z-index: 2;
    position: relative;
}
.ods__card__back p {
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;

    color: #ffffff;
    opacity: 0.7;
}

@keyframes intoUp {
    from {
        transform: translate3d(0, 10px, 0);
    }
    top {
        transform: translate3d(0, 0, 0);
    }
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
    .ods__grid {
        grid-template-columns: repeat(6, 1fr);
        gap: 32px;
    }
}

.section__photo {
    height: 350px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 590px;
}
.section__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* projetos */
.projetos {
    background: var(--color-background-light);
    padding: 78px 0;
}
.section__projetos {
    display: flex;
    align-items: center;
}

.projetos__left {
    flex: 0 0 50%;
}

.projetos__right {
    flex: 0 0 50%;
}

.projetos__content h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: var(--color-orage);
}

.projetos__content h2 span {
    font-weight: 300;
}
.projetos__content p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-text-color);
    max-width: 80%;
}
.projetos__cards__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.projeto__card {
    border: 1px solid var(--color-background);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px 5%;
    border-radius: 8px;
}
.projeto__card span {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: var(--color-background);
}

.projeto__card p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--color-green);
}
.projetos__photos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    margin-top: 72px;
    padding-bottom: 48px;
}
.projeto__photo {
    grid-column: span 4;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}
.projeto__photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s ease-in;
}

.projeto__photo:hover img {
    transform: scale(1.1);
}
.projetos__cta {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .section__projetos {
        flex-flow: wrap;
    }

    .projetos__left {
        flex: 0 0 100%;
    }

    .projetos__right {
        flex: 0 0 100%;
    }

    .projetos__cards__grid {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 38px;
    }
    .projetos__photos {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* testimonial */

.section__testimonial {
    padding: 78px 0;
}

.testimonial__title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: var(--color-orage);
    text-align: center;
}

.testimonial__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0;
    position: relative;
}

.testimonial__icon {
    background: var(--color-background-light);
    width: 48px;
    height: 48px;
    min-width: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial__content p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
    line-height: 25px;
    text-align: center;
    color: var(--color-text-color);
    max-width: 70%;
    text-align: center;
}
.testimonial__user {
    font-weight: 400;
    font-size: 16px;
    margin-top: 48px;
    line-height: 22px;
    text-align: center;
    color: var(--color-text-color);
    position: relative;
}
.testimonial__user::after {
    content: "";
    width: 16px;
    height: 2px;
    background: var(--color-green);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -24px;
}
.testimonial__slide__control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.control__left,
.control__right {
    width: 42px;
    height: 42px;
    background: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 21px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--color-background);
}

/* partners */

.partners__title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: var(--color-orage);
    text-align: center;
}

.partners__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0 0 0;
    position: relative;
}

.section__partners {
    background: var(--color-background-light);
    padding: 78px 0;
}
.partners {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners img {
    margin: 16px;
    width: 100%;
}
/* partners */
