@import "./footer.css";
@import "./home.css";
@import "./about.css";

:root {
    --color-background: #faaa4c;
    --color-background-light: #fff6ec;
    --color-orage: #faaa4c;
    --color-green: #28b097;
    --color-green-hover: #1f947e;
    --color-text-color: #5f5f5c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/* comps */
/* simple__cta */
.simple__cta {
    text-decoration: none;
    color: var(--color-background);
    border: 1px solid var(--color-background);
    border-radius: 21px;
    height: 42px;
    padding: 0 16px;
    display: inline-flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.simple__cta:hover {
    background: var(--color-background);
    color: #fff;
}

/* donate__button */
.donate__button {
    display: inline-flex;

    background: var(--color-green);
    height: 42px;
    padding: 0 16px;
    display: flex;
    align-items: center;

    text-decoration: none;
    color: #fff;
    border-radius: 8px;

    transition: all 0.3s ease-in;
}

.donate__button:hover {
    background: var(--color-green-hover);
}
.donate__button span {
    margin-left: 8px;
}

/* donate__button */

/* cta__button */
.cta__button {
    background: var(--color-green);
    height: 42px;
    padding: 0 16px;
    display: inline-flex;
    align-items: center;

    text-decoration: none;
    color: #fff;
    border-radius: 21px;
    transition: all 0.3s ease-in;
}

/* cta__button */

.social__button {
    background: var(--color-green);
    height: 42px;
    width: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 21px;
}

.social__button:hover,
.cta__button:hover {
    background: var(--color-green-hover);
}

/* comps */

/* layout */

.container {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 8px;
}
.section__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

@media screen and (max-width: 1440px) {
    .container {
        max-width: 1216px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 940px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 610px;
        margin: 0 auto;
    }
    .section__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}

/* layout */

/* navigation */

.navigation {
    background: var(--color-background);
    position: relative;
}
.menu {
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper__menu {
    display: flex;
    align-items: center;
}

.menu__links ul {
    list-style: none;
    display: flex;
    margin-right: 16px;
}

.menu__link {
    color: #fff;
    text-decoration: none;
    padding: 4px 8px;
    margin: 0 4px;

    font-weight: 400;
    font-size: 16px;

    position: relative;
    z-index: 2;
}
.menu__link.link__active::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6px;
    z-index: -1;
    width: calc(100% - 16px);
    height: 6px;
    background: var(--color-green);
}
.menu__link::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6px;
    z-index: -1;
    width: 0;
    height: 6px;
    background: var(--color-green);
    transition: 0.3s ease-in;
}
.menu__link:hover::after {
    width: calc(100% - 16px);
}

.menu__mobile {
    display: none;
    align-items: center;
    padding: 8px;

    border-radius: 4px;
    cursor: pointer;
}

/* menu responsive */
@media screen and (max-width: 768px) {
    .menu__collapse {
        height: 0px;
        overflow-y: hidden;

        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        top: 78px;
        transition: 0.3s ease-in;
        z-index: 99;
    }
    .menu__collapse.menu__open {
        height: 343px;
    }
    .wrapper__menu {
        flex-direction: column;
        gap: 32px;
        padding: 24px 0;
    }
    .menu__links {
        width: 100%;
    }
    .menu__links ul {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 100%;
    }
    .menu__link {
        text-align: center;
        width: 100%;

        color: var(--color-text-color);
    }

    .menu__mobile {
        display: flex;
    }
}

/* navigation */
