:root {
    --color-background: #faaa4c;
    --color-background-light: #fff6ec;
    --color-orage: #faaa4c;
    --color-green: #28b097;
    --color-green-hover: #1f947e;
    --color-text-color: #646464;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* comps */

/* donate__button */
.donate__button {
    display: inline-flex;

    background: var(--color-green);
    height: 42px;
    padding: 0 16px;
    display: flex;
    align-items: center;

    text-decoration: none;
    color: #fff;
    border-radius: 21px;

    transition: all 0.3s ease-in;
}

.donate__button:hover {
    background: var(--color-green-hover);
}
.donate__button span {
    margin-left: 8px;
}

/* donate__button */

/* cta__button */
.cta__button {
    background: var(--color-green);
    height: 42px;
    padding: 0 16px;
    display: inline-flex;
    align-items: center;

    text-decoration: none;
    color: #fff;
    border-radius: 21px;

    transition: all 0.3s ease-in;
}

/* cta__button */

.social__button {
    background: var(--color-green);
    height: 42px;
    width: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 21px;
}

.social__button:hover,
.cta__button:hover {
    background: var(--color-green-hover);
}

/* comps */

/* layout */

.container {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 8px;
}
.section__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

@media screen and (max-width: 1440px) {
    .container {
        max-width: 1216px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 940px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 610px;
        margin: 0 auto;
    }
    .section__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}

/* layout */

/* navigation */

.navigation {
    background: var(--color-background);
    position: relative;
}
.menu {
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper__menu {
    display: flex;
    align-items: center;
}

.menu__links ul {
    list-style: none;
    display: flex;
    margin-right: 16px;
}

.menu__link {
    color: #fff;
    text-decoration: none;
    padding: 4px 8px;
    margin: 0 4px;

    font-weight: 400;
    font-size: 16px;

    position: relative;
    z-index: 2;
}
.menu__link.link__active::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6px;
    z-index: -1;
    width: calc(100% - 16px);
    height: 6px;
    background: var(--color-green);
}
.menu__link::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6px;
    z-index: -1;
    width: 0;
    height: 6px;
    background: var(--color-green);
    transition: 0.3s ease-in;
}
.menu__link:hover::after {
    width: calc(100% - 16px);
}

.menu__mobile {
    display: none;
    align-items: center;
    padding: 8px;

    border-radius: 4px;
    cursor: pointer;
}

/* menu responsive */
@media screen and (max-width: 768px) {
    .menu__collapse {
        height: 0px;
        overflow-y: hidden;

        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        top: 78px;
        transition: 0.3s ease-in;
        z-index: 99;
    }
    .menu__collapse.menu__open {
        height: 343px;
    }
    .wrapper__menu {
        flex-direction: column;
        gap: 32px;
        padding: 24px 0;
    }
    .menu__links {
        width: 100%;
    }
    .menu__links ul {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 100%;
    }
    .menu__link {
        text-align: center;
        width: 100%;

        color: var(--color-text-color);
    }

    .menu__mobile {
        display: flex;
    }
}

/* navigation */

/******** Home *********/

/* cover */
.cover {
    position: relative;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-end;

    padding-bottom: 102px;
    overflow: hidden;
}
.cover__photo {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.12);
}
.cover__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover__title h1 {
    padding: 8px 16px 10px 16px;
    background: var(--color-green);

    text-align: center;
    font-size: 38px;
    font-family: Oswald;
    text-transform: uppercase;
    color: #fff;
}
.cover__subtitle {
    display: inline-flex;
    text-align: center;

    margin-top: -10px;
}
.cover__subtitle p {
    padding: 8px 16px;
    background: var(--color-orage);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.cover__button {
    margin-top: 48px;
}
/* cover */

/* section__ods */

.section__about {
    background: var(--color-background-light);
    padding-top: 72px;
    padding-bottom: 102px;
}

.about__left {
    grid-column-start: 1;
    grid-column-end: 7;

    align-items: center;
    display: flex;
}

.about__right {
    grid-column-start: 7;
    grid-column-end: 13;
    align-items: center;
    display: flex;
}

.about__content h2 {
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 45px;
    color: var(--color-orage);
}
.about__content h2 span {
    font-weight: 300;
}
.about__content p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-text-color);
    max-width: 80%;
}
.about__links {
    margin-top: 28px;
    display: flex;
    gap: 16px;
}

.about__photo {
    width: 100%;
    height: 302px;
    border-radius: 8px;
    overflow: hidden;
}
.about__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .about__content p {
        max-width: 100%;
    }
    .about__left {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .about__right {
        margin-top: 48px;
        grid-column-start: 1;
        grid-column-end: 5;
    }
}

/* section__ods */
.section__ods {
    margin-top: -40px;
    padding-bottom: 72px;
}
.slide__ods__card__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

.ods__card {
    grid-column: span 4;
    border-radius: 8px;
    height: 248px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 48px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.ods__number {
    font-weight: 600;
    font-family: Oswald;
    font-size: 200px;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.1;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}
.ods__card__front {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
    animation: intoUp linear 0.2s forwards;
}
.ods__card__front h2 {
    margin-top: 24px;
    font-family: Oswald;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.ods__card__back {
    display: none;
    z-index: 2;
    position: relative;
}
.ods__card__back p {
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
}
.ods__card:hover .ods__card__front {
    display: none;
}
.ods__card:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: 1px 7px 10px 4px #f8ecdf;
}
.ods__card:hover .ods__card__back {
    display: block;
    animation: intoUp linear 0.2s forwards;
}

@keyframes intoUp {
    from {
        transform: translate3d(0, 10px, 0);
    }
    top {
        transform: translate3d(0, 0, 0);
    }
}
@media screen and (max-width: 1024px) {
    .slide__ods__card__grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .slide__ods__card__grid {
        display: flex;
        gap: 32px;
    }
    .ods__card {
        flex-shrink: 0;
        width: 90%;
        flex-direction: column;
        padding: 56px 48px;
        height: auto;
        pointer-events: none;
    }

    .ods__card__back {
        margin-top: 24px;
        display: block;
    }
}

.overflow {
    overflow: hidden;
}

.ods__slide.swiper-container {
    overflow: inherit;
    padding: 16px 0;
}

.section__photo {
    height: 350px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 590px;
}
.section__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* projetos */
.section__projetos {
    display: flex;
    align-items: center;
}

.projetos__left {
    flex: 0 0 50%;
}

.projetos__right {
    flex: 0 0 50%;
}

.projetos__content h2 {
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 45px;
    color: var(--color-orage);
}

.projetos__content h2 span {
    font-weight: 300;
}
.projetos__content p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-text-color);
    max-width: 80%;
}
.projetos__cards__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.projeto__card {
    background: var(--color-background-light);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px 5%;
    border-radius: 8px;
}
.projeto__card span {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #28b097;
}

.projeto__card p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--color-text-color);
    max-width: 50%;
}
.projetos__photos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    margin-top: 72px;
    padding-bottom: 48px;
}
.projeto__photo {
    grid-column: span 4;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}
.projeto__photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width: 768px) {
    .section__projetos {
        flex-flow: wrap;
    }

    .projetos__left {
        flex: 0 0 100%;
    }

    .projetos__right {
        flex: 0 0 100%;
    }

    .projetos__cards__grid {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 38px;
    }
    .projetos__photos {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* testimonial */

.section__testimonial {
    padding: 48px 0;
}

.testimonial__title {
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 45px;
    color: var(--color-orage);
    text-align: center;
}

.testimonial__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0;
    position: relative;
}

.testimonial__icon {
    background: var(--color-background-light);
    width: 48px;
    height: 48px;
    min-width: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial__content p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
    line-height: 25px;
    text-align: center;
    color: var(--color-text-color);
    max-width: 70%;
    text-align: center;
}
.testimonial__user {
    font-weight: 400;
    font-size: 16px;
    margin-top: 48px;
    line-height: 22px;
    text-align: center;
    color: var(--color-text-color);
    position: relative;
}
.testimonial__user::after {
    content: "";
    width: 16px;
    height: 2px;
    background: var(--color-green);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -24px;
}
.testimonial__slide__control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.control__left,
.control__right {
    width: 42px;
    height: 42px;
    background: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 21px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--color-background);
}

/* partners */

.partners__title {
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 45px;
    color: var(--color-orage);
    text-align: center;
}

.partners__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    position: relative;
}

/* partners */

.section__partners {
    background: var(--color-background-light);
    padding: 48px 0;
}
.partners {
    height: 68px;
    background: var(--color-green);
}

/* footer */

.footer {
    background: var(--color-background);
    padding: 54px 0 24px 0;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

.footer__about {
    grid-column: span 6;
}

.footer__about p {
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    max-width: 80%;
}

.footer__donate__button {
    margin-top: 24px;
    display: flex;
}

.footer__contact {
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
}
.footer__content_item {
    grid-column: span 2;
}
.footer__content_item span {
    font-weight: 600;
    font-size: 15px;
    color: #fff6ec;
}

.footer__content_item ul {
    list-style: none;
    margin-top: 8px;
}

.footer__content_item ul li a {
    text-decoration: none;
    color: #ffead1;
    padding: 8px 0;
    display: block;
    margin-bottom: 2px;
    transition: 0.3s ease-in;
}
.footer__content_item ul li a:hover {
    opacity: 0.8;
}

.footer__copy {
    padding: 72px 0 16px 0;
    position: relative;

    
    font-weight: 400;
    font-size: 14px;

    color: #ffead1;

    display: flex;
    justify-content: space-between;
}
.footer__copy::after {
    content: "";
    position: absolute;
    background: var(--color-background-light);
    width: 100%;
    height: 2px;
    left: 0;
    top: 36px;
}

.scroolUp{
    cursor: pointer;
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
    background: #fff;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .footer__contact,
    .footer__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }
    .footer__content_item,
    .footer__contact,
    .footer__about {
        grid-column: span 4;
    }
    .footer__about p {
        max-width: 90%;
    }
}
