.projects__cards_section {
    background: var(--color-background-light);
    padding: 72px 0;
}

.projects__cards_section > h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 38px;
    color: var(--color-background);
    text-align: center;
    margin-bottom: 48px;
}
.projects__cards__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}
.card {
    grid-column: span 4;
}
.card__photo {
    width: 100%;
    height: 280px;
}
.card__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.card__text {
    padding: 38px 24px 0 24px;
}
.card__text h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 24px;
    color: var(--color-background);
}
.card__text p {
    margin-top: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--color-green);
}

@media screen and (max-width: 768px) {
    .projects__cards__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
    .card {
        margin: 16px 0;
    }
    .card__text {
        background: var(--color-green);
        border-radius: 8px;
        margin-top: -16px;
        z-index: 1;
        position: relative;
        padding: 30px 24px;
    }
    .card__text h2,
    .card__text p {
        color: #fff;
    }
}

.projects__section {
    background: #fff;
    padding: 72px 0;
}
.projects__section > h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 38px;
    color: var(--color-background);
    text-align: center;
}
.project__card {
    display: flex;
    padding: 72px 0;
    position: relative;
}
.project__photo {
    flex: 0 0 50%;
}
.photo {
    position: relative;
}
.project__photo img {
    max-width: 90%;
    border-radius: 8px;
}
.project__photo__legend {
    position: absolute;
    padding: 16px;
    bottom: -10px;
    left: 10px;
    border-radius: 8px;
    background: var(--color-green);
    color: #fff;
    width: 100%;
    max-width: 380px;
}

.project__text {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project__text h2 {
    font-family: Ubuntu;
    font-weight: 600;
    font-size: 38px;
    color: var(--color-background);
    margin-bottom: 24px;
    max-width: 80%;
}

.text__highlight {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: var(--color-green);
    max-width: 80%;
}

.text__block {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: var(--color-text-color);
    margin-top: 16px;
    max-width: 80%;
}
.text__block p {
    margin-bottom: 8px;
}

.project__card:nth-child(even) {
    flex-direction: row-reverse;
}
.project__card:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-background);
    width: 40%;
    height: 1px;
    bottom: 0;
}

@media screen and (max-width: 1024px) {
    .project__card {
        flex-flow: wrap;
    }

    .project__photo,
    .project__text {
        flex: 0 0 100%;
    }

    .project__photo img {
        max-width: 100%;
    }
    .project__text {
        margin-top: 48px;
    }
    .text__highlight,
    .text__block {
        max-width: 100%;
    }
}

.project__cta {
    padding: 48px 0;
}
.project__cta h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 38px;
    color: var(--color-background);
    text-align: center;
}
.project__cta__links {
    margin-top: 28px;
    display: flex;
    gap: 16px;
    justify-content: center;
}
